footer{

    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

}

.nav{
    text-align: center;
    display: flex;
    font-size: x-large;
    gap: 20px;
}

header{
    
    color: rgb(255, 255, 255);
    text-align: end;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}
.nav a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(150, 13, 13);
    

}

.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}