* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
       background-image: url(../imagenes/pokemonshowdonw.jpg);
    height: 100vh;
    background-size: 100%;
    max-height: 100vh;
    max-width: 100%;
    background-repeat: no-repeat ;
    display: block;   
    
    
}
