* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
header{
    text-align: center;
    height: 150px;
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

body{
    background-image: url(../imagenes/imagenfondo.png);
    
}
