footer {
      background: rgb(0, 0, 0);
      color: white;
      text-align: center;
      padding: 15px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
header{

    text-align: center;

}