* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}

.nav {
    text-align: center;
    display: flex;
    font-size: x-large;
    gap: 20px;
}

.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.nav a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(150, 13, 13);
    border-radius: 5px;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;

}

