body {
    background: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
}
main{
 background-image: url(imagenes/bg-gen4.png);
 background-repeat: no-repeat;
 background-size: cover;
 padding: 0;
}

/* Contenedor principal  */
.battle-container {
    display: flex;
    position: relative;
    width: 90vw;          
    height: 75vh;        
    max-width: 1300px;
    max-height: 800px;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;


}
.pokemons-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 0;
}


/* Áreas de combate  */
.enemigo-area {
  position: absolute;
  top: 45px;
  right: 60px;
  padding: 50px;
  margin-right: 375px;
  display: flex;
  flex-direction: row;
  
}

.character-name{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 275px;
  width: 275px;
  font-size: 30px;
  margin-top: 250px;
}
.character-player{
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 275px;
}

.enemy-name{
  text-align: center;
  position: absolute;
  margin-top: -350px;
  right: -460px;
  padding: 50px;
  margin-right: 385px;
  display: flex;
  flex-direction: column;
   font-size: 30px;
}
.enemy-player{
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 275px;
}


.player-area {
  position: absolute;
  bottom: 210px;
  left: 180px;
  margin-left: 180px;
}


/*  Información   */
.enemigo-info, .player-info {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  width: 200px;
  height: 45px;
}



.hp-barra {
  width: auto;
  height: 10px;
  background: #444;
  border-radius: 5px;
  margin-top: 5px;
}


.hp-contenido {
  height: 100%;
  background-color: green;
  border-radius: 5px;
  width: 100%;
}



/* sprites */
.pokemon-sprite {
  width: 200px;
  height: 200px;
}


.enemigo-sprite {
  position: relative;
  top: -30px;
  height: 300px;
  width: 300px;
}


.player-sprite {
  position: relative;
  bottom: 10px;
  height: 350px;
  width: 350px;
}


/* Panel de batalla */
.battle-panel {
  position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0;
    width: 1200px;
    color: rgb(0, 0, 0);
    padding: 22px;
    box-sizing: border-box;
    gap: 10px;
    padding-left: 36px;
    margin-left: 340px;
    margin-bottom: 75px;
    padding-right: 36px;
 
}
.pl{
  left: 200px;
}

.battle-texto {
  font-size: 16px;
  height: 16px;

}
.battle-texto p {
  display: flex;
  font-size: 27px;
  padding-bottom: 10px;
  flex-direction: column;
 
}
.ataques {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.stat{
  display: flex;
  flex-direction: row;
  font-size: 13px;
  gap: 4px;
  justify-content: center;
  text-align: center;
}

.attack{
   display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.ataques :hover{
    transform: scale(1.05);
}
.movimientos button {
  padding: 12px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
    width: 227px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75px;
   src:"{{ url_for('static', filename='imagenes/' ~ move.type ~ '.png') }}";
   flex-wrap: wrap;


}
.movimientos button p{
  display: flex;
  justify-content: center;
}


.pokemon-sprite .player-sprite {
  width: 100px;


}


footer{
  background-color: black;
}

.movimientos.fairy button { background: #ff78dd; }
.movimientos.dark button { background: #705848; }
.movimientos.dragon button { background: #5060E1; }
.movimientos.ice button { background: #98D8D8; }
.movimientos.psychic button { background: #F85888; }
.movimientos.steel button { background: #60A1B8; }
.movimientos.ghost button { background: #6a44a7; }
.movimientos.bug button { background: #A8B820; }
.movimientos.rock button { background: #B8A038; }
.movimientos.ground button { background: #fad160; }
.movimientos.fighting button { background: #804000; }
.movimientos.normal button { background: #DEDEDE; color: black; }
.movimientos.water button { background: #3e95ff; }
.movimientos.poison button { background: #923692; }
.movimientos.grass button { background: #7AC74C; color: black; }
.movimientos.flying button { background: #00e1ff; color: black; }
.movimientos.electric button { background: #eeff00; color: black; }
.movimientos.fire button { background: #ff0000; }
