.pokedex-contenedor {
    max-width: 1700px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #1a1a2e, #16213e);
    color: white;
    font-family: 'Arial', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
    width: 1400px;
}

main {
    display: flex;
    margin-bottom: 30px;
}

.pokemon-imagen {
    width: 250px;
    height: auto;
    border: 4px solid #ff6600;
    border-radius: 20px;
    background: #fff;

}
h1{
    text-align: center;
    align-items: right;
    align-content: right;
    gap: 10px;

}

.tipo {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

#carouselExample {
    width: 500px;     
    height: 500px;     
    overflow: hidden;  
    display: flex;
    align-items: right;
    align-content: right;
    margin-right: 100px;
    margin-left: 80px;

  }

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
  }

.fisico-contenedor, .stats-contenedor {
    margin-bottom: 30px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

h2 {
    color: #ff6600;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.fisico-lista {
    list-style: none;
    padding: 0;
}

.fisico-lista li {
    font-size: 1.1em;
    margin: 10px 0;
}



.stat-barras {
    display: flex;
    align-items: center;
    text-align: center;
}

.stat-value {
    font-weight: bold;
    color: #ff6600;
    margin-top: 5px;
}

.stats-total {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #ffd700;
}
.descripcion{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
