body {
    background-image: url(imagenes/pokemonshowdonw.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 50px;
}

p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 20px;
}