body {
    background-image: url(imagenes/36sr31w5cqud1.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-top: 50px;
}


p {
    color: white;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

.video-contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 40px auto;
    padding: 15px;
    background-color: rgb(240, 248, 255 , 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    gap: 10px;
    max-width: 70%;
}

.video-contenedor video {
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    max-width: 100%;
    width: 800px;
    background-color: black;
   
}


#jugar, #registrarse  {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    background-color: #44ff00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
   
}


#jugar:hover, #registrarse:hover {
  color: white;
  background-color: #d90000;
  transform: perspective(1px) translateZ(0);
  transition: transform 0.3s ease;
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#jugar, #registrarse{
  
  animation: pulse 1.5s infinite ease-in-out;
}
.contenedor-dentro{
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
form{
    
    display: flex;
    flex-direction: column ;
}
input{
    border-radius: 5px;
    height: 30px;
}
label{
    font-size: 1.3rem;

}


