body {
  font-family: Arial, sans-serif;
  background:url(video/Pokemon\ Background\ Loop.gif);
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow-x: hidden;
  background-repeat: no-repeat;
  
}

h1 {
  color: rgb(150, 13, 13);
  margin: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 60px;
}

img {
  border-radius: 10px;
}

hr {
  margin: 20px 0;

}

.contenedor {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;  
  width: 350px;  
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  background-position: center;
  background-size: 415px;
  background-repeat: no-repeat;
  background-image: url(imagenes/pokedexcontenedor.png);
  position: relative;

}

.contenedor img {
  max-width: 100%;
  border-radius: 8px;
  object-fit: contain;


}


.contenedor h2 {
  text-align: right;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  margin-right: 20px;
  transform: translateY(20px); 
  padding-top: 0px;


}

.contenedor .tipos {
  margin: 0;
  color: #555;
  font-size: 0.9em;
  text-align: center
  
}


.contenedor:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(179, 255, 0, 0.2);
  border: 2px solid rgb(255, 0, 0);
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.tipos {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
}

.tipos img.tipo-icono {
  width: 70px;
  object-fit: contain;
  transition: transform 0.2s ease;
  height: 20px;
}

.tipos img.tipo-icono:hover {
  transform: scale(1.2);
}

h2{
  padding-bottom: 14px;
}