body {
  font-family: Arial, sans-serif;
  background-color: #f0f6f6;
  text-align: center;
}

h1 {
  color: #cc0000;
}

img {
  border-radius: 10px;
}

hr {
  margin: 20px 0;
}
.contenedor {
      flex: 1 1 280px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      padding: 16px;
      transition: transform 0.5s ease, box-shadow 0.2s ease;
    }
    .contenedor img {
      max-width: 100%;
      border-radius: 8px;
      margin-bottom: 12px;
    }

    .contenedor h2 {
      margin: 0 0 8px;
      text-align: center;
    }

    .contenedor p {
      margin: 0;
      color: #555;
      font-size: 0.95em;
      text-align: center;
    }

    .contenedor:hover {
      transform: scale(0.4);
      
    }
.galeria {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      justify-content: center;
    }
