body {
  font-family: Arial, sans-serif;
  background:url(imagenes/111535-691216380.gif);
  background-size: cover;
  text-align: center;
  overflow-x: hidden;
  
}

h1 {
  color: #cc0000;
  margin: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 60px;
}

img {
  border-radius: 10px;
}

hr {
  margin: 20px 0;
}

.contenedor {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 350px;  
  min-height: 400px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  background-position: center;
  background-size: 400px;
  background-repeat: no-repeat;
  background-image: url(imagenes/pokedexcontenedor.png);

}

.contenedor img {
  max-width: 100%;
  height: 150px;
  border-radius: 8px;
  object-fit: contain;
  transition: transform 0.2s ease; 
  transform:scale(2.75);
  margin: 100px;
  margin-top: 20px;
  background-position:fixed ;
}


.contenedor h2 {
  margin: 0 0 8px;
  text-align: right;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 22px;
  margin-right: 10px;
  font-size: 1.7em;
  
}

.contenedor p {
  margin: 0;
  color: #555;
  font-size: 0.9em;
  margin-top: 100px;
  text-align: left;
  
}


.contenedor:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(179, 255, 0, 0.2);
  border: 2px solid yellow;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}