{% extends "base.html" %}

{% block title %}Batalla Pokémon{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='batalla.css') }}">
{% endblock %}

{% block content %}

  <div class="battle-container">
    
    <div class="pokemons-container">
    <!-- enemigo -->
    <div class="enemigo-area">
      <div class="enemigo-info">
        <h2>{{ pokemon.name | title }}</h2>
        <div class="hp-barra">
          <div class="hp-contenido"></div>
        </div>
      </div>
      <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}" class="pokemon-sprite enemigo-sprite">
    </div>

    <!-- jugador -->
    <div class="player-area">
      <img src="{{ pokemon.sprites.back_default }}" alt="{{ pokemon.name }}" class="pokemon-sprite player-sprite">
      <div class="player-info">
        <h2>{{ pokemon.name | title }}</h2>
        <div class="hp-barra">
          <div class="hp-contenido"></div>
        </div>
      </div>
    </div>
    </div>
    <!-- panel inferior -->
    <div class="battle-panel">
      <div class="battle-texto">
        ¿Qué debería hacer?
      </div>
      <div class="movimientos">
        {% for move in pokemon.moves[:4] %}
          <button>{{ move.name.replace('-', ' ').replace('special', 'Especial').title() }}</button>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock %}
