{% extends "base.html" %}

{% block title %}{{ pokemon.name | title }} - Pokédex{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='Datos.css') }}">
{% endblock %}

{% block content %}
<div class="pokedex-contenedor">

    <header>
        <h1>{{ pokemon.name | title }} ##{{ pokemon.id }}    .</h1>
    
        <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}" class="pokemon-imagen">
        

        <div>
            {% for type in pokemon.types %}
                <img src="{{ url_for('static', filename='imagenes/' ~ tipo ~ '.png') }}" alt="{{ tipo }}" class="tipo">
            {% endfor %}
        </div>
    </header>


    <section class="fisico-contenedor">
        <h2>Información Física</h2>
        <ul class="fisico-lista">
            <li><strong>Altura:</strong> {{ (pokemon.height / 10) }} m</li>
            <li><strong>Peso:</strong> {{ (pokemon.weight / 10) }} kg</li>
        </ul>
    </section>


    <section class="stats-contenedor">  
        <h2>Estadísticas Base</h2>
        <div class="stats-pokemon">
            {% for stat in pokemon.stats %}
            <div class="stat-barras">
                <label>{{ stat.name.replace('-', ' ').replace('special', 'Especial').title() }}</label>
                <progress value="{{ stat.value }}" ></progress>
                <span class="stat-value">{{ stat.value }}</span>
            </div>
            {% endfor %}
        </div>
        <div class="stats-total">
            <p>Total de Stats Base: {{ pokemon.stats | sum(attribute='value') }}</p>
        </div>
    </section>

  
</div>
{% endblock %}
