{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}">
{% endblock %}

{% block content %}

    

    
    <div class="video-contenedor">
       <video id="pokemonVideo" width="480" controls poster="{{ url_for('static', filename='imagenes/pokemon_poster.jpg') }}" >
        <source src="{{ url_for('static', filename='video/pokemon-combate.mp4') }}" type="video/mp4">
        </video>
        <div class="contenedor-dentro">
        <h1>Bienvenido a Pokemon Arena</h1>
        <p>Hazte el mejor.</p>
        <button id="jugar">Play</button>
        </div>
        

        
    </div>    
{% endblock %}